In [45]:
import pandas as pd

In [81]:
# Loading the data
df = pd.read_csv('gdp-vs-happiness.csv')

In [82]:
df.shape

(48169, 7)

In [83]:
df.head()

,Entity,Code,Year,"Total population (Gapminder, HYDE & UN)",Continent,Life satisfaction in Cantril Ladder (World Happiness Report 2019),"GDP per capita, PPP (constant 2011 international $)"
0,Abkhazia,OWID_ABK,2015,NaN,Asia,NaN,NaN
1,Afghanistan,AFG,1800,3280000.0,NaN,NaN,NaN
2,Afghanistan,AFG,1801,3280000.0,NaN,NaN,NaN
3,Afghanistan,AFG,1802,3280000.0,NaN,NaN,NaN
4,Afghanistan,AFG,1803,3280000.0,NaN,NaN,NaN

In [84]:
# Sorting out the dataset to 2017 and only Erupean countries
df_2 = df[df['Year']==2017]
ls = ['Albania','Andorra','Austria','Belarus','Belgium','Bulgaria','Croatia','Cyprus','Czechia','Denmark',
'Estonia','Finland','France','Germany','Greece','Hungary','Iceland','Italy','Latvia','Lithuania','Luxembourg',
'Malta','Monaco','Montenegro','Netherlands','North Macedonia','Poland','Portugal','Republic of Moldova','Romania',
      'Russia','San Marino','Serbia','Slovakia','Slovenia','Spain','Sweden','Switzerland','Ukraine','United Kingdom']
df_3 = df_2[df_2['Entity'].isin(ls)]

In [85]:
df_3.shape

(39, 7)

In [86]:
# Droping null values
df_3 = df_3.dropna(subset = ['Life satisfaction in Cantril Ladder (World Happiness Report 2019)'])

In [87]:
df_3.shape

(36, 7)

In [88]:
# Reseting indices 
df_3.reset_index(drop=True, inplace=True)

In [89]:
# Dropping unneccessary columns 
df_3=df_3.drop(columns = ['Continent','Total population (Gapminder, HYDE & UN)','Code'])

In [90]:
# Renaming the columns
df_3 = df_3.rename(columns={'Life satisfaction in Cantril Ladder (World Happiness Report 2019)': 'Life_satisfaction', 
                             'GDP per capita, PPP (constant 2011 international $)':'GDP',
                             'Entity':'Country'})

In [91]:
df_3.head()

    Country  Year  Life_satisfaction           GDP
0   Albania  2017           4.639548  11803.430594
1   Austria  2017           7.293728  45436.685822
2   Belarus  2017           5.552915  17167.967260
3   Belgium  2017           6.928348  42658.576170
4  Bulgaria  2017           5.096902  18563.306617

In [92]:
# Saving preprocessed data to a csv file
df_3.to_csv('data.csv',index=False)